@import '../../global.scss';

.menu {
    top: 0;
    z-index: 2;
    width: 30vh;
    right: -30vh;
    height: 100vh;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 1s ease;
    background: linear-gradient(70deg, #ccc 10%,#fff 40%, transparent);

    &.ativo {
        right: 0;
    }

    .itens {
        width: 75%;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            font-weight: 300;
    
            li {
                margin-bottom: 30px;
    
                a {
                    color: black;
                    font-size: 25px;
                    text-decoration: none;
                }
                
                &:hover {
                    font-weight: 500;
                }
            }
        }
    }
    
    .siga-me {
        bottom: 0px;
        position: fixed;
        font-size: 20px;
        font-weight: 300;
        text-align: center;

        .redes-sociais {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            
            .item {
                color: gray;
                font-size: 20px;
                padding: 10px 20px;
            }
    
            .item:hover {
                color: black;
            }
        }
    }
}
