// Estilo do Rodapé

.rodape {
    height: 20vh;
    color: black;
    background-size: cover;
    background-position: center;
    background-image: url(../../Assets/FundoBanner.png);
    
    .rodape-vertical {
        display: flex;
        width: inherit;
        height: inherit;
        position: relative;
        align-items: center;
        flex-direction: column;
        background: linear-gradient(to bottom, #fff 20%, transparent 90%);

        .rodape-horizontal {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .siga-me {
                flex: 0.334;
                font-size: 20px;
                font-weight: 300;
                text-align: center;
        
                .redes-sociais {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: center;
                    
                    .item {
                        color: gray;
                        font-size: 20px;
                        padding: 10px 20px;
                    }
            
                    .item:hover {
                        color: black;
                    }
                }
            }

            .logo {
                flex: 0.334;
                display: flex;
                padding: 3vh 0;
                align-items: center;
                justify-content: center;  
            }

            .btn-topo {
                flex: 0.334;
                display: flex;
                align-items: center;
                justify-content: center;
    
                a {
                    display: flex;
                    padding: 10px;
                    color: black;
                    font-size: 30px;
                    font-weight: 500;
                    background: #eee;
                    align-items: center;
                    border-radius: 10px;
                    transition: all 2s ease;
                    border: solid 1px black;
                }
    
                a:hover {
                    color: black;
                    font-size: 30px;
                    border: 1px solid black;
                    background: linear-gradient(to top, #999 0% 10%,#aaa 20%, #ddd 50% 60%, transparent 80%);
    
                    .icone {
                        animation: scroll-para-cima 2s infinite;
                    }
                    @keyframes scroll-para-cima {
                        0% {
                            opacity: 0;
                            transform: translate(0, 5px);
                        } 
                        50% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                            transform: translate(0, -5px);
                        }
                    }
                }
            }
        }
        
        .dev {
            color: white;

            bottom: 0;
            width: 100%;
            font-size: 1em;
            font-weight: 300;
            position: absolute;
            text-align: center;
            background-color: #444;
        }
    }
}

/*
ESPELHO

De paro e me deparo
no espelho, me procuro:
Quem é essa pessoa me olhando?
Para eu ou meu inverso
escrevo esse verso
Não me copia


é a ilusao da lua nos seguir

"Não dá pra limpar uma coisa sem sujar outra"

*/