// Estilo do Rodapé

.rodape {
    width: 100%;
    height: 20vh;
    background-color: #0A66C2;
    
    .rodape-vertical {
        display: flex;
        width: inherit;
        height: 100%;
        position: relative;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 -50px 20px #ddd;

        .rodape-horizontal {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .siga-me {
                flex: 0.334;
                font-size: 20px;
                font-weight: 300;
                text-align: center;

                p {
                    color: white;
                    font-size: 1em;
                    font-weight: 300;
                }
        
                .redes-sociais {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: row;
                    justify-content: center;
                    
                    .item {
                        color: white;
                        font-size: 1.2em;
                        padding: 10px 20px;
                    }
            
                    .item:hover {
                        color: white;
                    }
                }
            }

            .logo {
                flex: 0.334;
                display: flex;
                padding: 3vh 0;
                align-items: center;
                justify-content: center;  
            }

            .btn-topo {
                flex: 0.334;
                display: flex;
                align-items: center;
                justify-content: center;
    
                a {
                    display: flex;
                    padding: 10px;
                    color: #0A66C2;
                    font-size: 30px;
                    font-weight: 500;
                    align-items: center;
                    border-radius: 10px;
                    transition: all 2s ease;
                    background-color: white;
                }
    
                a:hover {
                    color: #05558f;
                    font-size: 30px;
                    background-color: #EFEFEF;
    
                    .icone {
                        animation: scroll-para-cima 2s infinite;
                    }
                    @keyframes scroll-para-cima {
                        0% {
                            opacity: 0;
                            transform: translate(0, 5px);
                        } 
                        50% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                            transform: translate(0, -5px);
                        }
                    }
                }
            }
        }
        
        .dev {
            bottom: 0;
            width: 100%;
            color: white;
            font-size: 1.2em;
            font-weight: 300;
            position: absolute;
            text-align: center;
            background-color: #05558f;
        }
    }
}

/*
ESPELHO

De paro e me deparo
no espelho, me procuro:
Quem é essa pessoa me olhando?
Para eu ou meu inverso
escrevo esse verso
Não me copia


é a ilusao da lua nos seguir

"Não dá pra limpar uma coisa sem sujar outra"

*/