@import '../../global.scss';

.intro {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url(../../Assets/FundoBanner.png);

    .intro-vertical {
        width: inherit;
        height: inherit;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to top, #fff 10%, transparent 90%);
    
        .intro-horizontal {
            display: flex;
            width: inherit;
            height: inherit;
            flex-direction: row;
            justify-content: center;
            background: linear-gradient(to right, #fff 10%, transparent 90%);

            .direita {
                flex: 0.9;
                display: flex;
                padding-left: 20vh;
                align-items: center;  
                
                .pacote {
                    display: flex;
                    flex-direction: column;
                    .apresentacao {
                        h1 {
                            font-size: 2.5em;

                            span {
                                color: black;
                                position: relative;
                            }

                            span:hover {
                                color: gray;
                                animation: bounce .5s ease-out;
                            }

                            @keyframes bounce {
                                0% { bottom: 0; }
                                60% { bottom: 5px; color: #333; }
                                100% { bottom: 0; }
                            }
                        }
                    }


                    h3 {
                        font-size: 1.5em;
                        .ocupacao {
                            font-weight: 300;
                        }
                    }

                    p {
                        font-size: 18px;
                        margin-top: 15px;
                        font-weight: 300;
                    }

                    .pacote-btn {
                        .icone {
                            margin: 0;
                            padding: 0;
                            color: black;
                            font-size: 30px;
                            padding: 5px 10px;
                        }

                        a {
                            width: 40%;
                            padding: 15px;
                            display: flex;
                            color: black;
                            font-size: 18px;
                            font-weight: 500;
                            margin-top: 20px;
                            background: #eee;
                            align-items: center;
                            border-radius: 10px;
                            text-decoration: none;
                            justify-content: center;
                            transition: all 2s ease;
                            border: solid 1px black;
                        }
    
                        a:hover {
                            color: black;
                            border: 1px solid black;
                            background: linear-gradient(60deg, #888 0% 10%,#999 20%, #aaa 40% 60%, transparent 80%);

                            .icone {
                                animation: scroll-para-baixo 2s infinite;
                            }
                            
                        }
                        @keyframes scroll-para-baixo {
                            0% {
                                opacity: 0;
                                transform: translate(-5px, 0);
                            } 
                            50% {
                                opacity: 1;
                            }
                            100% {
                                opacity: 0;
                                transform: translate(5px, 0);
                            }
                        }
                    }
                }  
            }

            .esquerda {
                flex: 0.1;
                display: flex;
                align-items: center;

                .redes-sociais {
                    display: flex;
                    flex-wrap: nowrap;
                    padding-left: 10vh;
                    flex-direction: column;
                    
                    .item {
                        color: black;
                        font-size: 35px;
                        margin: 5vh 10px;
                    }
            
                    .item:hover {
                        color: gray;
                        transition: all .5s ease;
                    }
                }
            } 
        }

        .role-para-baixo {
            left: 0; 
            right: 0; 
            bottom: 1vh;
            display: flex;
            margin-left: auto; 
            margin-right: auto;
            position: absolute;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            
            a {
                color: black;
                font-size: 16px;
                text-decoration: none;
                
                .item-mouse {
                    margin: 0 5px;
                    color: black;
                    font-size: 35px;
                }

                .item-mouse:hover {
                    color: gray;
                    transition: all 1s ease;
                }

                .item-seta {
                    color: black;
                    font-size: 35px;
                    margin: 1px 5px;
                    animation: scroll-vertical 2s infinite;
                }

                .item-seta:hover {
                    color: gray;
                    transition: all 2s ease;
                }

                @keyframes scroll-vertical {
                    0% {
                        opacity: 0;
                        transform: translate(0, -5px);
                    } 
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                        transform: translate(0, 5px);
                    }
                }
            } 
            
            a:hover {
                color: gray;
                transition: all 1s ease;
            } 
        }
    }
}

/*

Notas

Me sinto tão Sol
Sem Ré, sem Dó e
Me desifra pela cifra

*/