@import '../../global.scss';

.intro {
    display: flex;
    background-size: cover;
    background-position: center;
    background-image: url(../../Assets/FundoBanner.png);

    .intro-vertical {
        width: inherit;
        height: inherit;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to top, #fff 10%, transparent 90%);
    
        .intro-horizontal {
            display: flex;
            width: inherit;
            height: inherit;
            flex-direction: row;
            justify-content: center;
            background: linear-gradient(to right, #fff 10%, transparent 90%);

            .direita {
                flex: 0.8;
                display: flex;
                align-items: center;
                justify-content: start;
                
                .pacote {
                    display: flex;
                    flex-direction: column;

                    .apresentacao {
                        h1 {
                            font-size: 2.8em;

                            span {
                                color: black;
                                position: relative;
                            }

                            span:hover {
                                color: #0a66c2;
                                animation: bounce .5s ease-out;
                            }

                            @keyframes bounce {
                                0% { bottom: 0; }
                                60% { bottom: 5px; color: #05558f; }
                                100% { bottom: 0; }
                            }
                        }
                    }

                    h3 {
                        font-size: 2em;
                        margin-top: 1.8vh;

                        .ocupacao {
                            font-weight: 300;
                        }
                    }

                    p {
                        margin-top: 2vh;
                        font-weight: 300;
                        font-size: 1.5em;  
                    }

                    .pacote-btn {
                        .icone {
                            margin: 0;
                            padding: 0;
                            color: white;
                            font-size: 30px;
                            padding: 5px 10px;
                        }

                        a {
                            width: 40%;
                            padding: 15px;
                            display: flex;
                            color: white;
                            font-size: 1.2em;
                            font-weight: 500;
                            margin-top: 20px;
                            align-items: center;
                            border-radius: 10px;
                            text-decoration: none;
                            justify-content: center;
                            transition: all 1s ease;
                            background-color: #0a66c2;
                        }
    
                        a:hover {
                            color: white;
                            background-color: #05558f;

                            .icone {
                                animation: scroll-para-baixo 2s infinite;
                            }
                        }
                    }
                }  
            }

            .esquerda {
                flex: 0.2;
                display: flex;
                align-items: center;
                justify-content: center;

                .redes-sociais {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    justify-content: center;
                    
                    .item {
                        color: #0a66c2;
                        font-size: 30px;
                        margin: 2vh 10px;
                    }
            
                    .item:hover {
                        color: #05558f;
                        transition: all .5s ease;
                    }
                }
            } 
        }

        .role-para-baixo {
            left: 0; 
            right: 0; 
            bottom: 2vh;
            display: flex;
            margin-left: auto; 
            margin-right: auto;
            position: absolute;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transition: all 1s ease;
            
            a {
                color: black;
                font-size: 16px;
                text-decoration: none;
                
                .item-mouse {
                    margin: 0 5px;
                    color: #0a66c2;
                    font-size: 35px;
                }

                .item-mouse:hover {
                    color: #05558f;
                    transition: all 1s ease;
                }

                .item-seta {
                    color: #0a66c2;
                    font-size: 35px;
                    margin: 1px 5px;
                    animation: scroll-vertical 2s infinite;
                }

                .item-seta:hover {
                    color: #05558f;
                    transition: all 2s ease;
                }
            } 
        }

        .role-para-baixo:hover {
            bottom: 1vh;
            transition: all 1s ease;
        }
    }
}
@keyframes scroll-para-baixo {
    0% {
        opacity: 0;
        transform: translate(-5px, 0);
    } 
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(5px, 0);
    }
}

@keyframes scroll-vertical {
    0% {
        opacity: 0;
        transform: translate(0, -5px);
    } 
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translate(0, 5px);
    }
}

/*
Notas

Me sinto tão Sol
Sem Ré, sem Dó e
Me desifra pela cifra
*/