// Estilo da Seção Serviços

.servicos {
    display: flex;
    background-size: contain;
    background-position: center;
    background-image: url(../../Assets/cubos.png);
    
    .servicos_vertical {
        width: 100%;
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to bottom, #fff 10%, transparent 90%);
        
        .servicos_horizontal {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right, #fff 1%, transparent 90%);
            
            .titulo {
                margin: 6vh;
                text-align: center;

                h2 {
                    color: black;
                    font-weight: 500;
                    font-size: 2.5em;
                }
                h3 {
                    color: gray;
                    font-weight: 300;
                    font-size: 1.2em;
                }
            }

            .conteiner {
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                padding: 10vh 0;
                position: relative;
                align-items: center;
                justify-content: space-evenly;

                .cartao {
                    width: 280px;
                    height: 400px;
                    display: flex;
                    cursor: pointer;
                    overflow: hidden;
                    position: relative;
                    border-radius: 15px;
                    align-items: center;
                    justify-content: center;
                    backdrop-filter: blur(3px);
                    background: rgba(255, 255, 255, 0.02);
                    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
                    border-top: 1px solid rgba(255, 255, 255, 0.5);
                    border-left: 1px solid rgba(255, 255, 255, 0.5);  

                    .conteudo {
                        transition: 0.5s;
                        padding: 80px 20px;
                        text-align: center;
                        
                        h2 {
                            top: -10px;
                            right: 20px;
                            font-size: 8em;
                            position: absolute;
                            pointer-events: none;
                            color: rgba(0, 0, 0, 0.05);
                        }

                        h3 {
                            z-index: 1;
                            color: black;
                            font-weight: 500;
                            font-size: 1.8em;
                        }

                        p {
                            font-size: 1em;
                            color: black;
                            font-weight: 300;
                            padding-top: 10px;
                        }

                        a {
                            color: black;
                            margin-top: 15px;
                            padding: 8px 20px;
                            position: relative;
                            background: gray;
                            border-radius: 20px;
                            display: inline-block;
                        }
                    }                    
                }
            }
        }
    }
}