@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.App {
    height: 100vh;

    .secoes {
        top: 70px;
        width: 100%;
        position: relative;
        scrollbar-width: none; // Para Firefox
        scroll-behavior: smooth;
        height: calc(100vh - 70px);
        background-color: white;
        scroll-snap-type: y mandatory;
        
        &::-webkit-scrollbar {
            display: none;
        }
    
        > * {
            width: 100vw;
            scroll-snap-align: start;
            height: calc(100vh - 70px);
        }

        footer {
            box-shadow: 0 5px #ddd;
            height: 20vh;
        }
    }
}