@import '../../../global.scss';

li {
    padding: 7px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 50px;
    border-radius: 10px;

    &.ativo {
        color: white;
        background-color: $cor_principal;
    }
}